//
// Extends: Attachment (WordPress)
//
// @package     WPDTRT_SCSS
// @since       0.1.0
//

// add a divider after the last attachment field added by a plugin
%attachment {
    &-field-divider-last {
        padding-bottom: 5px;
        border-bottom: 1px solid var(--wpdtrt-scss-admin-divider-color);
        margin-bottom: 15px;
    }
}
