//
// Extends: Embed
//
// @package     WPDTRT_SCSS
// @since       0.1.0
//

// -------------------------------------------------------------------
// Extends
// -------------------------------------------------------------------

// embedresponsively.com
// scales iframe height proportionally

%wpdtrt-scss {
    &-embed {
        position: relative;
        height: 0;
        max-width: 100%;
        padding-bottom: 56.25%;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
