//
// Extends: Hide
//
// @package     WPDTRT_SCSS
// @since       0.1.0
//

// -------------------------------------------------------------------
// Mixins for use in media queries
// -------------------------------------------------------------------

@mixin wpdtrt-scss-hide-all {
    display: none;
}

@mixin wpdtrt-scss-hide-in-place {
    visibility: hidden;
}

@mixin wpdtrt-scss-hide-screen {
    position: absolute !important; /* stylelint-disable-line declaration-no-important */
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    // many screen reader and browser combinations announce broken words as they would appear visually
    word-wrap: normal !important; /* stylelint-disable-line declaration-no-important */
    overflow: hidden;
}

// -------------------------------------------------------------------
// Extends
// -------------------------------------------------------------------

%wpdtrt-scss {
    &-hide {
        &-all {
            @include wpdtrt-scss-hide-all;
        }

        &-in-place {
            @include wpdtrt-scss-hide-in-place;
        }

        &-screen {
            @include wpdtrt-scss-hide-screen;
        }

        &-visually {
            @include wpdtrt-scss-hide-screen;
        }
    }
}

// -------------------------------------------------------------------
// Common/legacy selectors
// -------------------------------------------------------------------

[hidden] {
    @extend %wpdtrt-scss-hide-all;
}

// Text meant only for screen readers
.accessible,
.says,
.screen-reader-text {
    @extend %wpdtrt-scss-hide-screen;
}
