//
// Extends: Layout
//
// @package     WPDTRT_SCSS
// @since       0.1.0
//

// -------------------------------------------------------------------
// Extends
// -------------------------------------------------------------------

%wpdtrt-scss {
    &-clear {
        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }
}

// -------------------------------------------------------------------
// Common/legacy selectors
// -------------------------------------------------------------------

.clear {
    @extend %wpdtrt-scss-clear;
}
