//
// Extends: Layout
//
// @package     WPDTRT_SCSS
// @since       0.1.0
//

%wpdtrt-scss {
    &-layout {
        &-clear {
            &::after {
                content: '';
                display: block;
                clear: both;
            }
        }
    }
}
