//
// Styles for the Wordpress back-end
//
// Theme usage: @import '../node_modules/wpdtrt-scss/scss/_backend';
//
// @package     WPDTRT_SCSS
// @since       0.1.0
//

// -------------------------------------------------------------------
// Styles
// -------------------------------------------------------------------

// Plugin options page

.wpdtrt-plugin-boilerplate {
    &__options {
        .wpdtrt-scss-plugin-date {
            font-size: .95em;
        }

        .wpdtrt-scss-plugin-version {
            // copied from dashboard-widgets-suite plugin
            color: var(--wpdtrt-scss-plugin-version-color);
            font-size: 90%;
        }
    }
}
