//
// Styles for the front-end (optional import)
//
// Theme + Plugin usage: @use '../node_modules/wpdtrt-scss/scss/_frontend' as commonFrontend;
//
// @package     WPDTRT_SCSS
// @since       0.1.0
//

// -------------------------------------------------------------------
// Focus
// -------------------------------------------------------------------

// -------------------------------------------------------------------
// Mixins
// -------------------------------------------------------------------

@use '../mixins/viewport';

// -------------------------------------------------------------------
// Extends
// -------------------------------------------------------------------

@use '../extends/focus' as *;
@use '../extends/hide' as *;
@use '../extends/img' as *;
@use '../extends/layout' as *;
@use '../extends/reset' as *;
@use '../extends/type' as *;

a,
button,
input,
textarea,
[tabindex] {
    &:focus {
        @extend %focus-show;

        .no-js &:not(:focus-visible) {
            @extend %focus-hide;
        }

        .js-focus-visible &:not(.focus-visible) {
            @extend %focus-hide-polyfill;
        }
    }
}

// -------------------------------------------------------------------
// Hide
// -------------------------------------------------------------------

[hidden] {
    @extend %hide-all;
}

// Text meant only for screen readers
.accessible,
.says,
.screen-reader-text {
    @extend %hide-screen;
}

// -------------------------------------------------------------------
// Image
// -------------------------------------------------------------------

img {
    @extend %img-scale;
    height: auto;
    // Make sure images are scaled correctly.
    // Adhere to container width.
    vertical-align: middle;
}

// -------------------------------------------------------------------
// Layout
// -------------------------------------------------------------------

.clear {
    @extend %layout-clear;
}

// -------------------------------------------------------------------
// Link
// -------------------------------------------------------------------

a {
    color: var(--color-link);
    text-decoration: none;
    word-wrap: break-word;

    &:hover,
    &:focus,
    &:active {
        color: var(--color-link-hover);
    }

    @media print {
        // ! overrides color schemes
        color: var(--color-link) !important; /* stylelint-disable-line declaration-no-important */
    }
}

// -------------------------------------------------------------------
// Media
// -------------------------------------------------------------------

embed,
iframe,
object,
video {
    @extend %img-scale;
}

// -------------------------------------------------------------------
// Reset
// -------------------------------------------------------------------

.list-reset {
    @extend %reset-list;
}

// -------------------------------------------------------------------
// Type
// -------------------------------------------------------------------

.type-sharpen {
    @extend %type-sharpen;
}

// -------------------------------------------------------------------
// Viewport
// -------------------------------------------------------------------

/* stylelint-disable */

@-ms-viewport {
    @include viewport.viewport;
}

/* stylelint-enable */

@viewport {
    @include viewport.viewport;
}
