//
// SCSS variables
//
// @package     WPDTRT_SCSS
// @since       0.1.0
//

// -------------------------------------------------------------------
// Breakpoints
// see: https://gist.github.com/dotherightthing/06f33bf784279aa24072e0b6873c968c
// see: https://include-media.com/
//
// Usage: @include media(">phone", "<=tablet") { ... }
// Usage: @include media("<=1150px") { ... }
// -------------------------------------------------------------------

$breakpoints: (
    phone: 320px,
    phone_large: 400px,
    tablet_small: 550px,
    tablet: 710px,
    desktop: 910px
);
