//
// Mixins: Hide
//
// @package     WPDTRT_SCSS
// @since       0.1.0
//

@mixin wpdtrt-scss-hide-all {
    display: none;
}

@mixin wpdtrt-scss-hide-in-place {
    visibility: hidden;
}

@mixin wpdtrt-scss-hide-screen {
    position: absolute !important; /* stylelint-disable-line declaration-no-important */
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    // many screen reader and browser combinations announce broken words as they would appear visually
    word-wrap: normal !important; /* stylelint-disable-line declaration-no-important */
    overflow: hidden;
}

@mixin wpdtrt-scss-hide-visually {
    @include wpdtrt-scss-hide-screen;
}
