//
// Mixins: Show
//
// @package     WPDTRT_SCSS
// @since       0.1.0
//

@mixin show-in-place {
    visibility: visible;
}

@mixin show-screen {
    position: relative !important; /* stylelint-disable-line declaration-no-important */
    top: auto;
    left: auto;
    z-index: auto;
    width: auto;
    height: auto;
    clip: auto;
    overflow: visible;
}

@mixin show-visually {
    @include show-screen;
}
